.menuitem{
font-size:10pt!important;
}
#pointer{
font-size:14pt!important;
}
#copy{
font-size:9pt!important;
}
#logo{
font-size:10pt!important;
}
#login{
font-size:10pt!important;
}
#username{
font-size:10pt!important;
}
#menuniz{
font-size:10pt!important;
}